body {
    height: 100vh;
    width: 100%;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    margin: 0;
    background-image: url(https://wallpapers.com/images/hd/industry-pictures-2104-x-1192-9k59klyy6tj4jm1t.jpg);
    background-repeat: no-repeat;
    background-color: black;

}

.barraInicial {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: center;
    align-items: center;
    gap: 60px;
    background-color: rgba(231, 231, 255, 0.8);
    padding: 4px;
    padding-top: 7px;

}

.opcao {
    background-color: rgb(150, 150, 207);
    padding: 7.5px 100px;
    border-radius: 15px;
    margin-bottom: 5px;
    transition: 0.5s;
    border: 0px
}



a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    padding: 10px;
}

.menu {
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 2px;
}

h1 {
    background-color: rgb(150, 150, 207);
    padding: 2px 10px;
    margin: 4px 45%;
    transition: 0.4s;
}

h1:hover {
    box-shadow: 0px 0px 50px white;
    transform: scale(1.05);
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    cursor: default;
}

.texto {
    background-color: rgb(150, 150, 207, 0.6);
    border-radius: 15px;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 10px;
    transition: 0.5s;
}

.texto:hover {
    transform: scale(1.1);
    background-color: rgb(150, 150, 207);
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    box-shadow: 0px 0px 20px rgb(150, 150, 207, 0.9);
    cursor: default;

}

.texto2 {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 10px;
    transition: 0.5s;
}

.texto2:hover {
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 1);
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.9);
    cursor: default;
}

#deco {
    padding: 1px 100px;
    background-color: white;
    margin: 0;
}

h2 {
    margin: 0
}

#deco2 {
    padding: 1px 100px;
    background-color: rgb(150, 150, 207);
    margin: 0;
}

#deco3 {
    position: sticky;
    z-index: 1000;
    top: 0;
    padding: 1px 200px;
    background-color: rgb(139, 143, 255);
    margin: 0;
    box-shadow: 0 0 300px rgba(139, 143, 255 1)
}

.central {
    background-color: rgba(0, 0, 0, 0.745);
    margin: 0px 150px;
    border-radius: 15px;
    height: 100vh;
}

label {
    font-size: 15px;
    margin: 0;
    background-color: rgb(139, 143, 255);
    padding: 15px 20px;
    border-radius: 15px;
}

input {
    padding: 15px 90px;
    border-radius: 15px;
}
#labelFuncionario{
    padding: 15px 30px;
}

h3 {
    background-color: rgb(0, 0, 0);
    margin: 0;
    margin-top: 15px;
    border: solid white 1px;
    border-bottom-width: 0px;
}

.categoriaSetor {
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 15px 275px;
    background-color: rgb(139, 143, 255);
    margin: 0;
}

tr {
    background-color: white;
}

table {
    width: 80%; 
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #000000;
    padding: 12px;
    color: black;
}


button {
    padding: 10px 54px;
    background-color: rgb(139, 143, 255);
    color: white;
    font-weight: bolder;
    border-radius: 8px;
    border-top: 0px solid;
    margin: 5px;
    transition: 0.2s;
}

button:hover {
    transform: scale(1.1);
    transition-duration: 0.2s;
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.7);
    transition-timing-function: ease-in;
    background-color: black;
    border: 2px solid white;
    cursor: pointer
}

.nomeFuncionario {
    padding-left: 45px;
    padding-right: 45px;
}

th {
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 15px 133px;
    background-color: rgb(139, 143, 255);
    margin: 0;
}

#imgIndex {
    height: 400px;
    margin: 30px;
    border: solid white 2px;
    border-radius: 20px;
    transition: 0.3s;
}

#imgIndex:hover {
    transform: scale(1.15);
    box-shadow: 0px 0px 500px black;
}

#caixaDaImg {
    background-color: rgb(0, 0, 0, 0.7);
    margin: 10px 0px;
}