body{
    height: 100vh;
    width: 100%;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    margin: 0;
    background-image: url(https://wallpapers.com/images/hd/industry-pictures-2104-x-1192-9k59klyy6tj4jm1t.jpg);
    background-repeat: no-repeat;
    
}
.barraInicial {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    background-color: rgba(231, 231, 255, 0.8);
    padding: 2px;
    padding-top: 7px;

}
.opcao{
   background-color: rgb(150, 150, 207);
   padding: 7.5px 100px;
   border-radius: 15px;
   margin-bottom: 5px;
}
.opcao:hover{
    filter: brightness(1.2);
}
a{
    text-decoration: none;
    color: white;
}
.menu{
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 2px;
}
h1{
    background-color: rgb(150, 150, 207);
    padding: 2px 10px;
    margin: 4px 45%;
}
.texto{
    background-color: rgb(150, 150, 207, 0.6);
    border-radius: 15px;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 10px;
}
.texto:hover{
    background-color: rgb(150, 150, 207)
}
.texto2{
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 10px;
}
.texto2:hover{
    background-color: rgba(0, 0, 0, 1)
}
#deco{
    padding: 1px 100px ;
    background-color: white;
    margin: 0;
}
h2{
    margin: 0
}
#deco2{
    padding: 1px 100px ;
    background-color: rgb(150, 150, 207);
    margin: 0;
}
#deco3{
    padding: 1px 200px ;
    background-color: rgb(139, 143, 255);
    margin: 0;
    box-shadow: 0 0 300px rgba(139, 143, 255 1)
}